.sc-breadcrumb-item-path,
.sc_DropDownItemLink,
.sc_DropDownItemLink_Disabled
{
    font-style: inherit;
    font-weight: inherit;
    box-sizing: content-box;
    line-height: 100%;
}

.sc-breadcrumb-item-path:hover
.sc_DropDownItemLink:hover,
.sc_DropDownItemLink_Disabled:hover
{
    text-decoration: none !important;
}

.sc-breadcrumb-item-path img
.sc_DropDownItemLink img,
.sc_DropDownItemLink_Disabled img
{
    display: inline-block;
    vertical-align: baseline;
}
